:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color-main: #212121;
  --title-color-secondary: #ffffff;
  --text-main-color: #757575;
  --text-secondary-color: #ffffff;
  --accent-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Остальной код */

body {
  font-family: var(--main-font);
  font-size: 14px;
  background-color: #e5e5e5;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* CONTAINER */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--title-color-secondary);
}
/*Navigation*/
.navigation-main-nav,
.navigation {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 50px;
}

.header-adress-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-adress-list-item:not(:last-child) {
  margin-right: 30px;
}

.logo {
  margin-right: 85px;
}

.nav-adress {
  display: flex;
}

.logo,
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web,
.footer-logo-web {
  color: var(--accent-color);
}

.adress-mail {
  margin-right: 50px;
}

.navigation-menu-link,
.adress-mail,
.adress-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color-main);
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: var(--accent-color);
}

.adress-mail,
.adress-tel {
  font-style: normal;
  color: var(--text-main-color);
}

.adress-mail:hover,
.adress-mail:focus,
.adress-tel:hover,
.adress-tel:focus,
.adress-mail-footer:hover,
.adress-mail-footer:focus,
.adress-tel-footer:hover,
.adress-tel-footer:focus,
.adress-map:hover,
.adress-map:focus {
  color: var(--accent-color);
}

/* Hero-Section */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  outline: solid 1px coral;
  color: var(--title-color-secondary);
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero-section-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--text-secondary-color);
  margin-left: auto;
  margin-right: auto;
}

/* About Us Section */

.about-us-title,
.our-works-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color-main);
}

.about-us-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.about-us-img {
  margin-bottom: 30px;
}

.about-us-title {
  margin-bottom: 10px;
}

.secondary-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-main);
  margin-bottom: 50px;
}

.our-works-text {
  text-align: center;
  color: var(--text-secondary-color);
}

.our-team-title,
.our-team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-main);
}

.our-team-text {
  font-weight: normal;
  color: var(--text-main-color);
}

.adress-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-secondary-color);
}

.adress-mail-footer,
.adress-tel-footer {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.social-links-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-secondary-color);
}

/*Our Team section*/

.our-team-list {
  display: flex;
}

/*PORTFOLIO*/
.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-main);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--text-secondary-color);
  background-color: var(--accent-color);
}

/*works list*/

.our-projects {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color-main);
}

.projects-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--text-main-color);
}

.projects-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--text-secondary-color);
}
